* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  background: black;
  font-family: "Segoe UI", Tahoma,  Geneva, Verdana, sans-serif;
}

#Home{
  margin-bottom: 40vh;
  position:relative;
}

#Projects{
  position: relative;
  background: fixed;
}

/* *CSS for static text stroke*/
.heading1{
  width: 10rem;
  background: white;
  background-clip: text;
  background-size: 15%;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(2rem / 15);
  color: black;
  font-size: 3rem;
  margin-bottom: 7rem;
  margin-left: 11.5rem;
  font-family: 'Dosis', 'Gill Sans', 'Trebuchet MS', sans-serif;
  position: relative;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 0.4rem white;
  transform: translate(0, 20%);
}

.heading1::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1rem;
    top: 110%;
    left: 0;
    background: linear-gradient(45deg,#0053c7, #00ffbf);
}

.heading1::after{
    content: '';
    position: absolute;
    width: 45%;
    height: 0.25rem;
    top: 109%;
    left: 0;
    background: linear-gradient(45deg, #ff00d2, #fed90f);
}

/* *CSS for dynamic text stroke 
svg{
  font-size: 3rem;
  margin-left: 19rem;
  margin-bottom: 4rem;
  font-family: 'Dosis';
  position: relative;
  letter-spacing: 0.3rem;
  transform: translate(-50%, 20%);
  width: auto;
  height: auto;
  overflow: hidden;
}
svg text{
   font-size: clamp(2.5rem, 8vw, 5rem); /* !Scales between 2.5rem and 5rem 
   fill: black;
   filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.753)); /* **Gold glow 
   stroke: aliceblue;
   stroke-linejoin: round;
   stroke-dasharray: 100;
   will-change: stroke-dashoffset;
   animation: animate 1s linear infinite;
}

@keyframes animate{
  100%{
   stroke-dashoffset: 200;
  }
}

/* TODO: use this HTML in Project Section for dynamic stroke 
<svg>
  <symbol id="text">
  <text x="50%"  y="50%" text-anchor="middle">Project</text>
  </symbol>
  <use xlink:href="#text"/>
</svg> */

/* TODO: use this HTML in Project Section for static stroke
<h1 class="heading1>Project</h1> */